<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/overview.css">
    <title>Overview</title>
</head>
<body>
    <h1>Bem-vindo, {{ username }}!</h1>
    <div>
        {{ overview_info | safe }}
        {{ faction_lider_info | safe }}
    </div>
    <form action="/relatorios" method="get">
        <button type="submit" class="button">Ir para Relatórios</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>
